{% extends 'app_szeszoot/base.html' %}


{% block content %}
    <div class="container">
        <div class="row">
            <div id="left" class="col-6">
                <h4>Game id {{ game.pk }}</h4>
                <div>
                    <h4>Players:</h4>
                    <div id="div-players">

                    </div>
                </div>
                <button type="button" id="button" class="btn btn-outline-info">Start!</button>
            </div>
            <div id="right" class="col-6">
                <p id="quiz-title" class="col-12 text-center">{{ game.quiz.title }}</p>
                <p id="question-counter" class="col-12 text-center"></p>
                <h4 id="question" class="col-12 text-center invisible">
                    Question
                </h4>
                <div class="container">
                    <div class="row">
                        <button id="danger" class="col-6 btn btn-danger answer invisible">
                            <br>
                            <br>
                            <p class="wrap"></p>
                            <br>
                        </button>
                        <button id="info" class="col-6 btn btn-info answer invisible">
                            <br>
                            <br>
                            <p class="wrap"></p>
                            <br>
                        </button>
                    </div>
                    <div class="row">
                        <button id="primary" class="col-6 btn btn-primary answer invisible">
                            <br>
                            <br>
                            <p class="wrap"></p>
                            <br>
                        </button>
                        <button id="warning" class="col-6 btn btn-warning answer invisible">
                            <br>
                            <br>
                            <p class="wrap"></p>
                            <br>
                        </button>
                    </div>
                </div>
                <p id="timer" class="invisible">10</p>
            </div>
        </div>
    </div>

    {{ quiz_dict|json_script:'quizJson' }}
    <script>
        // script for game master
        //$.ready(function() {
            let divPlayers = $('#div-players');
            let quizId = {{ game.quiz.id }};
            let gameId = {{ game.id }};
            let quizJson = JSON.parse($('#quizJson').text());
            let button = $('#button');
            let questionCount = quizJson['question_set'].length;
            let questionCounter = $('#question-counter');
            let answers = $('.answer');
            let question = $('#question');
            let timer = $('#timer');
            let currentQuestionIndex = -1;
            let currentCorrectAnswer = null;
            let players = {};


            questionCounter.text(`${currentQuestionIndex + 1}/${questionCount}`);


            console.log(typeof(quizJson), quizJson);


            let socket = new WebSocket(
                `ws://${window.location.host}/ws/game/${gameId}/`
            );


            socket.onopen = function() {
                console.log('WebSockets connection created.')
            };


            socket.onmessage = function(e) {
                console.log('message incame');
                let data = JSON.parse(e.data);
                console.log('data', data);
                let message = data['message'];
                if (message['from_player_joined_signal']) {
                    let nickname = message['from_player_joined_signal']['nickname'];
                    players[`${nickname}`] = new Array(questionCount).fill(null);
                    console.log('players', players);
                    divPlayers.after(`
                            <p id="${nickname}" class="p-player">
                                <span id="nickname">${nickname}</span>
                                <span id="base-points">0</span>
                                <span id="gained-points">+0</span>
                                <span id="total-points">0</span>
                            </p>
                    `)
                } else if (message['from_player']) {
                    let nickname = message['from_player']['nickname'];
                    players[nickname][`${currentQuestionIndex}`] = 1 * (message['from_player']['is_correct']);
                    $(`#${nickname}`).css('font-weight', 'Bold')
                }
            };


            socket.onclose = function () {
                console.error('Socket closed unexpectedly.')
            };


            button.click(function () {
                currentQuestionIndex += 1;
                questionCounter.text(`${currentQuestionIndex + 1}/${questionCount}`);

                $('.p-player').removeAttr('style');

                question
                    .removeClass('invisible')
                    .text(quizJson['question_set'][currentQuestionIndex]['question_content']);

                answers.each(function (index, element) {
                    let elemId = $(this).attr('id');
                    console.log(elemId);

                    $(this)
                        .removeClass()
                        .addClass(`col-6 btn btn-${elemId} answer`)
                        .find('p')
                        .text(quizJson['question_set'][currentQuestionIndex]['answer_set'][index]['answer_content']);

                    if (quizJson['question_set'][currentQuestionIndex]['answer_set'][index]['is_correct']) {
                        currentCorrectAnswer = $(this).text();
                        console.log('correct', currentCorrectAnswer);
                    }
                });

                timer.removeClass('invisible');

                let duration = 9;
                let clock = setInterval(displaySeconds, 1000);
                function displaySeconds() {
                    timer.text(duration);
                    duration -= 1;
                    if (duration < 0) {
                        endOfTimeOrAllPlayersAnswered()
                    }
                }

                function endOfTimeOrAllPlayersAnswered() {
                    clearInterval(clock);
                    button.prop('disabled', false);
                    answers.each(function (index, element) {
                        $(this)
                            .removeClass()
                            .addClass($(this).text() === currentCorrectAnswer ? 'btn btn-success col-6 answer' : 'btn col-6 answer');
                    });
                }

                $(this)
                    .text(currentQuestionIndex + 1 === questionCount ? 'Finish!' : 'Next question!')
                    .prop('disabled', true);

                let messageToPlayers = {
                    'from_master': {
                        'questionCount': [currentQuestionIndex, questionCount],
                        'answers': quizJson['question_set'][currentQuestionIndex]['answer_set']
                    }
                };
                socket.send(JSON.stringify({
                    'message': messageToPlayers
                }))

            })
        //});

    </script>
{% endblock content %}
