{% extends 'app_szeszoot/base.html' %}


{% block content %}
    <h4>{{ player.nickname }}, you are playing game of id: {{ player.game.pk }}</h4>
    <p id="question-counter"></p>
    <div class="container">
        <div class="row">
            <button id="danger" class="btn btn-danger col-4">
                <br>
                <br>
                <p class="wrap"></p>
                <br>
            </button>
            <button id="info" class="btn btn-info col-4">
                <br>
                <br>
                <p class="wrap"></p>
                <br>
            </button>
        </div>
        <div class="row">
            <button id="primary" class="btn btn-primary col-4">
                <br>
                <br>
                <p class="wrap"></p>
                <br>
            </button>
            <button id="warning" class="btn btn-warning col-4">
                <br>
                <br>
                <p class="wrap"></p>
                <br>
            </button>
        </div>
    </div>
    <script>
        // script for players
        let nickname = '{{ player.nickname|safe }}';
        let gameId = {{ player.game.id }};
        let header = $('h4');
        let questionCounter = $('#question-counter');
        let buttons = $('.btn');

        buttons.prop('disabled', true);


        let socket = new WebSocket(
            `ws://${window.location.host}/ws/game/${gameId}/`
        );


        socket.onopen = function () {
            console.log('Socket connection created')
        };


        socket.onmessage = function (e) {
            console.log('Message income');
            let data = JSON.parse(e.data);
            let message = data['message'];
            console.log(message);
            if (message['from_master']) {
                let questionCounterData = message['from_master']['questionCount'];
                questionCounter.text(`Question ${questionCounterData[0] + 1}/${questionCounterData[1]}:`);

                buttons.each(function (index, element) {
                    let elemId = $(this).attr('id');
                    $(this)
                        .removeClass()
                        .addClass(`col-4 btn btn-${elemId}`)
                        .removeAttr('style')
                        .prop('disabled', false)
                        .attr('is_correct', message['from_master']['answers'][index]['is_correct'])
                        .find('p')
                        .text(message['from_master']['answers'][index]['answer_content']);
                });
            }
        };


        socket.onclose = function () {
            console.error('Socket closed unexpectedly.')
        };


        buttons.click(function () {
            buttons
                .prop('disabled', true)
                .removeClass()
                .addClass('btn col-4');
            $(this)
                .removeClass()
                .addClass('btn col-4')
                .css('background-color', 'black');

            let messageToSend = {
                'from_player': {
                    'nickname': nickname,
                    //'question_no': message['from_master']['questionCount'][0],
                    'is_correct': JSON.parse($(this).attr('is_correct')),
                    //'has_answered': `${}`,
                }
            };
            socket.send(JSON.stringify({
                'message': messageToSend
            }))
        });

    </script>
{% endblock content %}
